# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/angrProject.iml
/misc.xml
/modules.xml
/encodings.xml
/profiles_settings.xml
/vcs.xml
/inspectionProfiles/profiles_settings.xml
/angr-utils
/bingraphvis
/